<h3>New Song Form</h3>

<form action="/songs/:slug" method="POST">
  <input type="text" name= "song_name" placeholder="Song Name:">
  <input type="text" name="song_artist" placeholder="Artist:">
  <input type="text" name="song_genre" placeholder="Genre:">
  <input type="submit" value="Submit">
</form>
